_build
*~
*.install
*.merlin
_opam
.envrc
vendors/
\#*
.#*
.*.swp
**/.DS_Store

src/bin_signer_mirage/myocamlbuild.ml
src/bin_signer_mirage/main.ml
src/bin_signer_mirage/key_gen.ml
src/bin_signer_mirage/.mirage.config
src/bin_signer_mirage/*.opam

